{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{% extends "base2.html" %}
{% block body %}

{#<center>#}
{#<form action="/filterby" method="post" enctype="multipart/form-data">#}
{#    {% block title %}View Leave{% endblock %}#}
<div class="container">
    <h2>View Leave</h2>
    <div class="card">
            <div class="card-body">
    <form action="/manfilterby" method="post">

<table >
    <tr>
        <label for="month" class="col-sm-2 col-form-label">Department</label>
        <td><select class="form-select" name="filter"id="filter">
            <option disabled selected hidden>Select a Dept</option>
            <option value="Sales">Sales</option>
            <option value="Marketing">Marketing</option>
            <option value="IT">IT</option>
            <option value="Accounting">Accounting</option>
        </select></td>
        <td><input type="submit" class="btn btn-primary" ></td>
    </tr>
</table>


            </div>
        </div>
    </form>
</div>



<section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Employee List</h5>
              <table class="table datatable">
                <thead>
                  <tr>
                    <th scope="col">sl.no</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Annual Leave</th>
                    <th scope="col">Taken</th>
                       <th scope="col">Medical</th>
                      <th scope="col">Taken</th>
                      <th scope="col">Emergency</th>
                      <th scope="col">Remaining</th>
{#                      <th scope="col">Reject</th>#}
                  </tr>
                </thead>
                <tbody>

</form>
{#    <table border="1">#}
{#        <tr>#}
{#            <td>sl.no</td>#}
{#            <td>foto</td>#}
{#            <td>Employee Name</td>#}
{#            <td>Annual Leave</td>#}
{#            <td>Remaining</td>#}
{#            <td>Medical</td>#}
{#            <td>Remaining</td>#}
{#            <td>Emergency</td>#}
{#            <td>Remaining</td>#}
        </tr>{% for i in data %}
        <tr>

             <td>&nbsp;{{ loop.index }}</td>
           <td><img src="{{ i['photo'] }}" height="50px" width="50px"></td>
            <td>{{ i['name'] }}</td>
            <td>{{ i['normal'] }}</td>
             <td>{{ i['ntaken'] }}</td>
            <td>{{ i['medical'] }}</td>
            <td>{{ i['mtaken'] }}</td>
            <td>{{ i['emergency'] }}</td>
            <td>{{ i['etaken'] }}</td>
             {% endfor %}
        </tr>
    </table>
{#</center>#}
{% endblock %}
{#</html>#}